doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="/stylesheets/style.css")
      script(src="app.js", type="module" async) 
      title Weather App
   body 
      .wrapper
         section.weather-box
            img.geo__icons(src="/icons/placeholder.svg", alt="geo-icons")
            .geolocation
               p.location__text
            .weather-header
               .weather-icons
                  img.header-icons(src="/icons/day-and-night.svg", alt="weather-earth")
            form.form(action="/", method="post")
               h1.weather-title Weather
               p.weather-subtitle View the current weather in your city
               input.weather-input(type="text", name="city", id="weather", placeholder="Enter your city", required)
               button.weather-btn(type="submit", class="weather-btn") Get Weather
            include ./includes/info